@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Bubblegum+Sans|Roboto');
html,body{
  font-family: 'Roboto', sans-serif;
  text-align:center;
  min-width:260px;
  color:#fff;
}
#title{
  font-family: 'Bubblegum Sans', cursive;
  font-size: 50px;
  text-align: center;
}
h2{
  font-family: 'Bubblegum Sans', cursive;
  text-align: center;
}
h3{
  font-family: 'Bubblegum Sans', cursive;
  background-color: #fff;
  color: black;
  border-radius: 20px;
  }
hgroup{
  background-color:#fff;
  color:black;
  border-radius: 20px;
}
#tribute-link{
  color:black;
}
#main{
  margin:30px auto;
  padding:15px;
  border:0px solid;
  border-radius:5px;
  background:#606060;
}
img{
  max-width: 100%;
  display: block;
  height: auto;
  margin: auto;
  border-radius: 20px;
}
#img-div{
  margin:-5px;
  margin-top:20px;
  width:100%;
  border:5px solid white;
  background:white;
  border-radius: 20px;
}
#img-caption{
  margin:15px;
}
#titulo-lista{
  margin-top:50px;
  color: black;
  background-color: #fff;
  border-radius: 20px;
}
ul{
  max-width:550px;
  margin:0 auto;
  text-align:left;
}
li{
  margin: 10px;
}
blockquote{
  font-style: italic;
}
